/*------layout styles-----*/

body, html {
	background: #304352;
	background: -webkit-linear-gradient(to left, #304352 , #d7d2cc);
	background: linear-gradient(to left, #304352 , #d7d2cc);
	height:100%;
	padding:0;
	margin:0;
}

/*-------map styling--------*/

#map {
	height:400px;
	max-height: 100%;
	width:600px;
	max-width: 100%;
	margin:0 auto;
}

.locator {
	text-align: center;
}

#location {
	width:350px;
	height:30px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.65);
	text-align:center;
}

#adventure_button {
	border-radius: 10px;
}

/*--------category layout styling-----------*/

.category_header {
	text-align: center;
	color: white;
}

.category_subheader {
	text-align: center;
	color: white;
}

.place_categories {
	width: 300px;
	max-width: 100%;
	height: 300px;
	max-height: 50%;
	background-color: red;
	margin: 0 auto;
	border-radius: 10px;
}

.col_md_4 {
	width:300px;
	max-width: 100%;
	height:300px;
	max-height:50%;
	float: left;
}

.row {
	margin:40px;
}

/*---------places layout styling-------------*/

.places {
	width: 300px;
	max-width: 100%;
	height: 300px;
	max-height: 50%;
	background-color: red;
	border-radius: 10px;
	margin:10px;
}

.place_description {
	font-size: 20px;
	color: white;
	margin:10px;
	margin-left: 40px;
	padding-left: 30px;
	padding: 10px;
	width:1100px;
	height:320px;
	max-width: 95%;
	text-align: left;
}

.places_subheader {
	color: white;
	text-align: left;
	margin:10px;
}

.places_container {
	margin: 30px;
	width: 100%;
}

/*--------place category image styling---------*/

.pizza_pic {
	background-image: url("https://s3.amazonaws.com/fishtown-explorers/pizza_pic.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.libation_pic {
	background-image: url("https://s3.amazonaws.com/fishtown-explorers/libations_pic.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.coffee_pic {
	background-image: url("https://s3.amazonaws.com/fishtown-explorers/coffee.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.shops_pic {
	background-image: url("https://s3.amazonaws.com/fishtown-explorers/small_business.jpeg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.yoga_pic {
	background-image: url("https://s3.amazonaws.com/fishtown-explorers/yoga.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.parks_pic {
	background-image: url("https://s3.amazonaws.com/fishtown-explorers/penntreaty3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.music_pic {
	background-image: url("https://s3.amazonaws.com/fishtown-explorers/kungFuNecktie.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.restaurants_pic {
	background-image: url("https://s3.amazonaws.com/fishtown-explorers/restaurant.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.art_pic {
	background-image: url("https://s3.amazonaws.com/fishtown-explorers/art.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.lodging_pic {
	background-image: url("https://s3.amazonaws.com/fishtown-explorers/AirBNB.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.transit_pic {
	background-image: url("https://s3.amazonaws.com/fishtown-explorers/subway.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.misc_pic {
	background-image: url("https://s3.amazonaws.com/fishtown-explorers/misc.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/*-------------place pics-------------*/

.pizza_places {
	float:left;
}