<div class = "primary_background">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class = "header_container">
	<h1 class = "header">Experience Adventure</h1>
</div>

</div> <!-- Closing Top Background -->