<div class = "primary_background">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class = "header_container">
	<h1 class = "header">Experience Adventure</h1>
</div>

</div> <!-- Closing Top Background -->

<div class = "secondary_background">

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1 class = "header2">Fishtown Explorers</h1>

<p class = "main_content">Fishtown Explorers is a social media experience platform designed for explorers, seekers, and learners who want to live life off the beaten trail and share a sense of adventure with friends around the globe.  Share stories, photos, live feeds from adventures near and far.  Create custom scavenger hunts and games for friends or those just passing through.  Let the sense of discovery guide you on a beautiful journey.  <%= link_to "Create an Account Today!", new_user_registration_path, :class => "account_link" %> </p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class = "tertiary_background">

<br>
<br>
<br>


<h1 class = "header3">Founders Bio</h1>

	<div id = "mateo-container">
		<div id = "mateo"></div>
<br>
			<p class = "bio_content"><strong id = "mateo-name">Mateo</strong> is a developer, designer, and explorer, residing in Philadelphia.  He designs apps primarily centered around experiential learning and exploration.  This allows him to bring his knowledge as a teacher, anthropologist, writer, and traveler to people around the world, inspiring them to learn more, live more, experince more, and share the results.</p>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

	</div>



