<div class = "primary_background">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class = "header_container">
	<h1 class = "header">Experience Adventure</h1>
</div>

</div> <!-- Closing Top Background -->

<div class = "secondary_background">

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1 class = "header2">Fishtown Explorers</h1>

<p class = "main_content">Fishtown Explorers is your portal to adventure in one of Philadelphia's best neighborhoods.  Whether you are visiting for the day, staying the week, or making Fishtown your new home, let Fishtown Explorers be your guide!  Use the site to find out what's happening, generate ideas, or build custom itineraries for you and your friends to explore the area.  Do a coffee crawl, brewery crawl, or pizza crawl with the help of our itinerary app or use the site to connect with local residents and new friends.  Feel free to comment, leave suggestions, or add some new places to the list.  We aim to help you find the best the neighborhood has to offer, but more than that, we aim to help you become part of an amazing community on the banks of the Delaware in America's oldest big city.  Let the sense of discovery guide you on a beautiful journey.  <%= link_to "Create an Account Today!", new_user_registration_path, :class => "account_link" %> </p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class = "tertiary_background">

<br>
<br>
<br>


<h1 class = "header3">Founder's Bio</h1>

	<div id = "mateo-container">
		<div id = "mateo"></div>
<br>
			<p class = "bio_content"><strong id = "mateo-name">Mateo</strong> is a developer, designer, and explorer, residing in Philadelphia.  He designs apps primarily centered around experiential learning and exploration.  This allows him to bring his knowledge as a teacher, anthropologist, writer, and traveler to people around the world, inspiring them to learn more, live more, experience more, and share the results.</p>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

	</div>