<h1 class = "category_header">Out on the Town</h1>
<h2 class = "category_subheader">The Sights, Sounds, and Tastes of Fishtown</h2>

<div class = "row">
	<div class = "col-md-4">
		<h3 class = "category_subheader">Libations</h3>
			<div class = "libation_pic"></div>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">Tomatoes and Cheese</h3>
		<div class = "pizza_pic"></div>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">Caffeine and Cakes</h3>
		<div class = "coffee_pic"></div>
	</div>

</div>

<div class = "row">
	<div class = "col-md-4">
		<h3 class = "category_subheader">A Tree Grows in Fishtown</h3>
		<div class = "parks_pic"></div>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">Support Small Business</h3>
		<div class = "shops_pic"></div>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">Fishtown Posing</h3>
		<div class = "yoga_pic"></div>
	</div>
</div>

<div class = "row">
	<div class = "col-md-4">
		<h3 class = "category_subheader">A Bit of Song and Dance</h3>
		<div class = "music_pic"></div>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">The Tastes of Fishtown</h3>
		<div class = "restaurants_pic"></div>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">Expressions of Creativity</h3>
		<div class = "art_pic"></div>
	</div>
</div>

<div class = "row">
	<div class = "col-md-4">
		<h3 class = "category_subheader">Where I Lay My Head is Home</h3>
		<div class = "lodging_pic"></div>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">Museums, Farms, Landmarks, and All the Other Things</h3>
		<div class = "misc_pic"></div>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">How to Get Around</h3>
		<div class = "transit_pic"></div>
	</div>
</div>