<h1 class = "category_header">The Fishtown Beer Crawl</h1>

<div class = "places_container">
	<h3 class = "places_subheader">Kraftwork</h3>
	<div class = "kraftwork_pic places"></div>

</div>

<div class = "places_container">
	<h3 class = "places_subheader">the El Bar</h3>
	<div class = "el_bar_pic places"></div>

</div>

<div class = "places_container">
	<h3 class = "places_subheader">Kung Fu Necktie</h3>
	<div class = "kung_fu_necktie_pic places"></div>

</div>