<h1 class = "category_header">The Fishtown Pizza Crawl</h1>

<div class = "places_container">
	<% @places.each do |place| %>
		<h3 class = "places_subheader"><%= place.name %></h3>
			<div class = "places pizza_places"><%= image_tag(place.avatar, :class => "avatar_images") %></div>
				<p class = "place_description">
					<%= place.description %>
				</p>
			<% end %>
</div>

<br><br>

<h2 class = "category_subheader">Add Your Favorite Pizza Spot!</h2>

<div class = "form_container"><%= render "places_form" %></div>

<!-- <div class = "places_container">
	<h3 class = "places_subheader">Pizzeria Beddia</h3>
		<div class = "pizzeria_beddia_pic places"></div>
		<p class = "place_description">
			HELLO WORLD, JUST A COUPLE THINGS; PIZZERIA BEDDIA IS OPEN WEDNESDAY THROUGH SATURDAY FROM 5:30 TO 10:30, WE DON’T HAVE A PHONE AND ONLY TAKE ORDERS IN PERSON, WE ARE CASH ONLY AND DO NOT HAVE A PUBLIC RESTROOM, PEOPLE HAVE STARTED LINING UP AS EARLY AS 4:00 FOR PIZZA, AND THERE ARE ONLY 40 PIZZAS A NIGHT.  WEDNESDAYS AND THURSDAYS ARE BETTER DAYS TO COME.  I AM WARNING YOU WITH PEACE AND LOVE, PEACE AND LOVE.
		</p>
		
</div>

<div class = "places_container">
	<h3 class = "places_subheader">Slice Pizza</h3>
		<div class = "slice_pic places"></div>
		<p class = "place_description">
			Slice specializes in Trenton-style pizza pies made with organic ingredients.  They offer a wide selection of pies, with a range of organic, gluten-free, vegan, and hormone-free ingredients. 
		</p>
</div>

<div class = "places_container">
	<h3 class = "places_subheader">Medusa Coal Fired Pizza</h3>
		<div class = "medusa_pic places"></div>
		<p class = "place_description">
			Medusa is owned by the Villico family, who are no rookies to the pizza game. They have three restaurants in Center City (Joe’s Pizza, Ciao, Margherita), but this is the first one they’ve built from the ground up. It’s also their first restaurant to feature a wood-fired oven.
			<br>
			Casimira Villico, the owner, said they choose Fishtown to get out of Center City and into a new and different neighborhood.
			<br>
			“We want it to feel like you’re coming over for a family dinner when you walk in” said Villico.
			<br>
			The menu features wood-fired pizzas with tons of toppings. They also have a pizza dough that is stuffed full of sauce and mozzarella cheese and is deep fried, which sounds insanely delicious. Medusa is a BYOB and they have a rooftop deck that will be first come, first serve during the summer.
		</p>
</div> -->