<h1 class = "category_header">The Itinerary Portal</h1>

<h2 class = "category_subheader"><%= link_to "Create a New Itinerary", new_itinerary_path %></h2>

<div class = "itinerary_list">
	<% @itinerary.each do |itinerary| %>
		<%= link_to itinerary do %>
			<li class = "itinerary_items"><%= itinerary.title %><span class = "delete_link"><p class = "delete_link"><%= link_to " Delete", "/itineraries/#{itinerary.id}", method: :delete, data: { confirm: "Are you sure?" } %></p></span></li> 
		<% end %>
	<% end %>
</div>