<br>
<br>

<div id="map"></div>

<br>
<br>

<div class = "locator">
	<%= form_tag("/locate", remote: true) do %>
		<%= text_field_tag "location" %>
		<%= submit_tag %>
		<% end %>
</div>

<div class = "itinerary_list">
	<h1 class = "itinerary_header">Fishtown Pizza Crawl</h1>
		<% @itinerary_places.each do |itinerary| %>
			<li class = "itinerary_items"><%= itinerary.name %></li>
		<% end %>
</div>

